@page
@model ListModel
@{
    ViewData["Title"] = "Lịch hẹn của tôi";
}

<h2>Lịch hẹn đã đặt</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ngày khám</th>
            @* <th>Bác sĩ</th> *@
            <th>Ghi chú</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.Appointments)
        {
            <tr>
                <td>@a.AppointmentDate.ToString("dd/MM/yyyy HH:mm")</td>
                @* <td>@a.Doctor.Employee.FirstName</td> *@
                <td>@a.Notes</td>
                <td>@a.Status</td>
            </tr>
        }
    </tbody>
</table>